<div class="relative h-screen overflow-hidden">
    <!-- Image de fond -->
    <img src="assets/bg-connexion.png" alt="fond" class="absolute top-0 left-0 w-full h-full object-cover z-0">

    <!-- Contenu centré -->
    <div class="relative z-10 flex flex-col items-center justify-center h-full space-y-8">

        <!-- Logo -->
      <img src="assets/LOGO.png" alt="logo" class="absolute -mt-150 w-50 max-w-xs opacity-50 drop-shadow-xl">

       <!-- Formulaire -->
        <form class="bg-black bg-opacity-95 mt-30 p-6 rounded-xl shadow-2xl w-80 space-y-4" (ngSubmit)="onSubmit()">

            <!-- Titre -->
            <h2 class="text-xl text-center font-black text-red-600">Connexion</h2>

            <!-- Boutons de rôle -->
            <div class="flex justify-between gap-2">

                <button type="button"
                    class="w-1/3 py-2 rounded-md font-semibold  transition"
                    [ngClass]="{
                    'bg-red-600 text-white': selectedRole === 'Joueur',
                    'bg-gray-200 hover:text-white hover:bg-red-900': selectedRole !== 'Joueur'
                    }"
                    (click)="selectRole('Joueur')">Joueur
                </button>

                <button type="button"
                    class="w-1/3 py-2 rounded-md font-semibold transition"
                    [ngClass]="{
                        'bg-red-600 text-white': selectedRole === 'Coach',
                        'bg-gray-200 hover:text-white hover:bg-red-900': selectedRole !== 'Coach'
                    }"
                    (click)="selectRole('Coach')">Coach
                </button>

                <button type="button"
                    class="w-1/3 py-2 rounded-md font-semibold  transition"
                    [ngClass]="{
                        'bg-red-600 text-white': selectedRole === 'Admin',
                        'bg-gray-200 hover:text-white hover:bg-red-900': selectedRole !== 'Admin'
                    }"
                    (click)="selectRole('Admin')">Admin
                </button>

            </div>

            <!-- Adresse mail -->
            <div>
            <label class="block text-white font-semibold mb-1">Mail</label>
            <input type="email" [(ngModel)]="form.email" name="email" required
                    placeholder="Votre Mail"
                    class="w-full px-3 py-2  text-white border border-red-600 rounded-md focus:outline-none focus:ring focus:ring-red-800">
            </div>
            <!-- Mot de passe -->
            <div>
            <label class="block text-white font-semibold mb-1">Password</label>
            <input type="password" [(ngModel)]="form.password" name="password" required
                    placeholder="Votre password"
                    class="w-full px-3 py-2 text-white border border-red-600 rounded-md focus:outline-none focus:ring focus:ring-red-800">
            </div>

            <!-- Code secret (visible pour Coach/Admin uniquement) -->
        <div *ngIf="selectedRole === 'Coach' || selectedRole === 'Admin'">
          <label class="block text-white font-semibold mb-1">Code Club</label>
          <input type="text" [(ngModel)]="form.code" name="code"
                 placeholder="Code"
                 class="w-full px-3 py-2 text-white border border-red-600 rounded-md focus:outline-none focus:ring focus:ring-red-800">
        </div>

        <!-- Bouton de connexion -->
        <button type="submit"
                class="w-full bg-red-600 text-white py-2 rounded-md font-semibold hover:bg-red-900 transition duration-200">
          Valider
        </button>

        <!-- Lien vers l'inscription -->
        <p class="text-center text-sm text-white mt-2">
          Tu n'as pas encore de compte ?  
          <a routerLink="/inscription" class="text-red-600 hover:underline font-medium cursor-pointer">S'inscrire</a>
        </p>

        </form>
    </div>
</div>







<!-- <div class="relative h-screen overflow-hidden">
    <!-- Image de fond --
    <img src="assets/bg-connexion.png" alt="fond" class="absolute top-0 left-0 w-full h-full object-cover z-0">
  
    <!-- Contenu centré --
    <div class="relative z-10 flex flex-col items-center justify-center h-full space-y-8">
  
      <!-- Logo --
      <img src="assets/LOGO.png" alt="logo" class="max-w-xs opacity-90 drop-shadow-xl">
  
      <!-- Formulaire --
      <form class="bg-white bg-opacity-95 p-6 rounded-xl shadow-2xl w-80 space-y-4" (ngSubmit)="onSubmit()">
        
        <!-- Titre --
        <h2 class="text-xl text-center font-bold text-gray-800">Connexion à l'espace ASDAM</h2>
  
        <!-- Boutons de rôle --
        <div class="flex justify-between gap-2">
          <button type="button"
                  class="w-1/3 py-2 rounded-md font-semibold border transition"
                  [ngClass]="{
                    'bg-green-600 text-white': selectedRole === 'Joueur',
                    'bg-gray-200 text-black': selectedRole !== 'Joueur'
                  }"
                  (click)="selectRole('Joueur')">Joueur</button>
  
          <button type="button"
                  class="w-1/3 py-2 rounded-md font-semibold border transition"
                  [ngClass]="{
                    'bg-yellow-500 text-white': selectedRole === 'Coach',
                    'bg-gray-200 text-black': selectedRole !== 'Coach'
                  }"
                  (click)="selectRole('Coach')">Coach</button>
  
          <button type="button"
                  class="w-1/3 py-2 rounded-md font-semibold border transition"
                  [ngClass]="{
                    'bg-red-600 text-white': selectedRole === 'Admin',
                    'bg-gray-200 text-black': selectedRole !== 'Admin'
                  }"
                  (click)="selectRole('Admin')">Admin</button>
        </div>
  
        <!-- Adresse mail --
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Adresse e-mail</label>
          <input type="email" [(ngModel)]="form.email" name="email" required
                 placeholder="email@asdam.fr"
                 class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300">
        </div>
  
        <!-- Mot de passe --
        <div>
          <label class="block text-gray-700 font-semibold mb-1">Mot de passe</label>
          <input type="password" [(ngModel)]="form.password" name="password" required
                 placeholder="********"
                 class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300">
        </div>

        <!-- Code secret (visible pour Coach/Admin uniquement) --
        <div *ngIf="selectedRole === 'Coach' || selectedRole === 'Admin'">
          <label class="block text-gray-700 font-semibold mb-1">Code Club</label>
          <input type="text" [(ngModel)]="form.code" name="code"
                 placeholder="Code donné par le club"
                 class="w-full px-3 py-2 border border-red-400 rounded-md focus:outline-none focus:ring focus:ring-red-300">
        </div>
  
        <!-- Bouton de connexion --
        <button type="submit"
                class="w-full bg-blue-600 text-white py-2 rounded-md font-semibold hover:bg-blue-700 transition duration-200">
          Entrer dans mon espace
        </button>
  
        <!-- Lien vers l'inscription --
        <p class="text-center text-sm text-gray-600 mt-2">
          Tu n'as pas encore de compte ?  
          <a routerLink="/inscription" class="text-blue-600 hover:underline font-medium">S'inscrire</a>
        </p>
      </form>
    </div>
  </div> -->
  