@import "tailwindcss";

:root {
    /* Palette principale */
    --Blanc:#FFFF;
    --Black:#000;
    --Gris:#1f1f1f;


    --Bleu-Foncé: #040142;
    --Bleu: #06027e;
    --Bleu-Clair: #0a03ce;

    --Rouge-Foncé:#520000;
    --Rouge: #8d0202;
    --Rouge-Clair: #ca0303;
    --Rouge-Clair2: #ca6363;

    --Vert:#3c8401;
}
  

