<!-- <div class="chat-container">
    <div class="messages">
      <div *ngFor="let msg of messages" class="message" [ngClass]="{'mine': msg.user === currentUser}">
        <strong>{{ msg.user }}:</strong> {{ msg.text }}
        <span class="time">{{ msg.date | date:'shortTime' }}</span>
      </div>
    </div>
  
    <div class="input">
      <input [(ngModel)]="newMessage" placeholder="Écrire un message..." (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Envoyer</button>
    </div>
</div>
   -->