<!--Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">

<!-- TEAM – look sportif -->
<h1 class="absolute z-10 -mt-230 ml-80 text-9xl font-extrabold text-[var(--Rouge)] select-none
[font-family:'Bebas_Neue',sans-serif]
sm:text-[10rem] md:text-[12rem]"
    aria-label="Team">
  TEAM
</h1>

<!-- ASDAM – look techno -->
<h1 class="absolute z-10 -mt-180 ml-100 text-9xl text-[var(--Rouge)] select-none      
[font-family:'Train_One',sans-serif]
sm:text-[10rem] md:text-[12rem]"
    aria-label="Asdam">
  ASDAM
</h1>